# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text diff=python

# TypeScript/JavaScript
*.ts text diff=typescript
*.tsx text diff=typescript
*.js text
*.jsx text
*.json text

# Markdown
*.md text

# YAML
*.yml text
*.yaml text

# Shell scripts
*.ps1 text eol=crlf
*.sh text eol=lf
*.cmd text eol=crlf

# Denote all files that should not be modified by humans
*.jsnol text
*.lock text -diff

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.svg text
*.ico binary
*.wasm binary
*.tflite binary
*.task binary
